/* External Stylesheet has the lowest precedence */
body {
    background-color: rgba(0, 128, 0, 0.505);
}

nav li {
    list-style: none;
    display: inline;
}

nav li:hover {
    background-color: green;
    font-size: 2rem;
}

#navBar{
    border: 4px dotted red;
}

.specialStyling{
    background-color: rgba(255, 0, 0, 0.538);
}